includeConfig "./conf/sasquatch.config"

profiles {
    test{
        includeConfig './conf/test.config'
    }
}

process {
    errorStrategy = { task.exitStatus in [1,143,137,104,134,139,250] ? 'retry' : 'terminate' }
    cache = 'lenient'
    maxRetries = 0
    // Set default memory (to prevent using whole node) and then override for specific modules.
    withLabel:'make_examples' {
        cpus = params.make_examples_nshards
        memory = 64.GB
        //ext.args = ""
        ext.args = "--vsc_min_count_snps=2 --vsc_min_fraction_snps=0.12 --vsc_min_count_indels=2 --vsc_min_fraction_indels=0.16" // for adjusting sensitivity
    }
    withLabel:'call_variants' {
        // Settings to use GPU with Slurm
        queue = 'gpu-core'
        cpus = 16
        memory = 120.GB
        maxRetries = 2
        //maxForks = 2 // If we run out of scratch space
        clusterOptions = "--gpus 1 --account ${System.getenv("ASSOC")}"
        containerOptions = '--nv --cleanenv'
    }
    withName:'POSTPROCESS_VARIANTS' {
        cpus = 1
        memory = 30.GB
    }
    withName:'GLNEXUS' {
        cpus = 16
        memory = 120.GB
    }
    withLabel:'process_single' {
        cpus = 1
        memory = 7500.MB
    }
    withLabel:'process_low' {
        cpus = 2
        memory = 15.GB
    }
    withLabel:'process_high' {
        cpus = 12
        memory = 90.GB
    }
    withName:'BWA_MEM'{
        ext.args = { "-R \"@RG\\tID:bwa-mem2\\tPL:Illumina\\tLB:lib\\tSM:${meta.id}\"" }
    }
}
