params {
    // WES on single trio, subsetted to a tiny fraction of the genome
    chromnames = 'g1k'
    genome_ver = "hg19"
    sample_bams = "testdata/GIAB_samples_small.csv"
    deepvar_model = "WES"
    cohort_name = "Ashkenazim_GIAB_small"
    make_examples_nshards = 4
    test_bams = true
    fasta_bams = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh37/Sequence/WholeGenomeFasta/Homo_sapiens.GRCh37.dna.primary_assembly.fa"
    bwa_index = "/data/hps/assoc/public/bioinformatics/annotations/Homo_sapiens/Ensembl/GRCh37/Sequence/BWAIndex"
    par_bed = "assets/GRCh37_PAR.bed"
    glnexus_filter = true
    somalier_sites = 'https://github.com/brentp/somalier/files/3412455/sites.GRCh37.vcf.gz'
}
